<?xml version="1.0" encoding="utf-8"?><fwpackage><jsnr>
    <fwdm>$salesInformation.billSeviceCode</fwdm>
    <nsrsbh>$salesInformation.taxpayerIdentificationNumber</nsrsbh>
    <kpqd>0</kpqd><jrdm>aabbccddeeff</jrdm></jsnr><ywnr><![CDATA[<?xml version="1.0" encoding="utf-8"?>
    <request><fpqqlsh>$invoiceInformationRequest.invoiceFlowNumber</fpqqlsh>
        <kpddm>$salesInformation.billCode</kpddm>
        <fplxdm>026</fplxdm>
        <ghdwmc>$!buyerinformation.header</ghdwmc>
        <ghdwdm>$!buyerinformation.tax_id_number</ghdwdm>
        <ghdwdzdh>$!buyerinformation.location  $buyerinformation.mobile</ghdwdzdh>
        <ghdwyhzh>$!buyerinformation.bank  $!buyerinformation.bank_account</ghdwyhzh>
        <gfkhdh>$!buyerinformation.mobile</gfkhdh>
        <gfkhyx>$!buyerinformation.email</gfkhyx>
        <xsdwmc>$salesInformation.invoiceHeader</xsdwmc>
        <xsdwdm>$salesInformation.taxpayerIdentificationNumber</xsdwdm>
        <xsdwdzdh>$salesInformation.location  $salesInformation.mobile</xsdwdzdh>
        <xsdwyhzh/><skr>收款人</skr><kpr>开票员</kpr><fhr>审核人</fhr>
        <kplx>0</kplx><yfpdm/><yfphm/>
        <hjje>$invoiceInformationRequest.totalAmout</hjje>
        <hjse>$invoiceInformationRequest.totalTaxAmout</hjse>
        <jshj>$invoiceInformationRequest.priceTaxTotal</jshj>
        <bz/><bbh>20.0</bbh><byzd1/><byzd2/>
        <byzd3/><fpmxList><fpmx><fpmxxh>1</fpmxxh>
            <fphxz>0</fphxz><spbm>3040502020200000000</spbm>
            <zxbm>01</zxbm><spmc>停车费</spmc>
            <spsm/><ggxh/><dw/><spsl/><spdj/>
            <je>$totalAmout</je><kce/><se/><sl>$salesInformation.taxRate</sl>
            <zhdyhh/><hsbz>1</hsbz><zzstsgl>$salesInformation.vatTaxSpecialManage</zzstsgl>
            <yhzcbs>1</yhzcbs><lslbs/><byzd1/><byzd2/></fpmx></fpmxList>
        <jylshList>#foreach($invoiceDetails in $invoiceDetail)<jylsh>$invoiceDetail.uuid</jylsh>#end</jylshList></request>]]></ywnr></fwpackage>