<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxytech.parkingcloud.core.mapper.BlacklistMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yxytech.parkingcloud.core.entity.Blacklist">
		<id column="id" property="id" />
		<result column="plate_number" property="plateNumber" />
		<result column="plate_color" property="plateColor" />
		<result column="org_id" property="organizationId" />
		<result column="parking_id" property="parkingId" />
		<result column="created_at" property="createdAt" />
		<result column="created_by" property="createdBy" />
		<result column="updated_at" property="updatedAt" />
		<result column="updated_by" property="updatedBy" />
		<result column="started_at" property="startedAt" />
		<result column="end_at" property="endAt" />
		<result column="join_reason" property="joinReason" />
		<result column="out_reason" property="outReason" />
		<result column="is_valid" property="valid" />
	</resultMap>

    <select id="customerSelect" resultType="com.yxytech.parkingcloud.core.entity.Blacklist">
		SELECT
			yxy_blacklist.*,
			yxy_blacklist.is_valid AS valid,
			yxy_parking.full_name AS parkingName,
			yxy_organzation.full_name AS organizationName
		FROM yxy_blacklist
		LEFT JOIN yxy_parking ON yxy_blacklist.parking_id = yxy_parking.id
		LEFT JOIN yxy_organzation
		ON yxy_parking.operator_org_id = yxy_organzation.id
		<where>
			${ew.sqlSegment}
			/*parking_id:yxy_blacklist.parking_id*/
		</where>
		ORDER BY yxy_blacklist.id ASC
	</select>

</mapper>
