<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxytech.parkingcloud.core.mapper.CustomerBindCarsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yxytech.parkingcloud.core.entity.CustomerBindCars">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="car_id" property="carId" />
		<result column="bind_at" property="bindAt" />
		<result column="unbind_at" property="unbindAt" />
		<result column="updated_at" property="updatedAt"/>
		<result column="is_valid" property="isValid" />
		<result column="is_certification" property="isCertification" />
		<result column="auth_image_url" property="authImageUrl" />
		<result column="auth_time" property="authTime" />
		<result column="status" property="status" />
	</resultMap>

	<resultMap id="joinMap" type="com.yxytech.parkingcloud.core.entity.CustomerBindCars">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="car_id" property="carId" />
		<result column="bind_at" property="bindAt" />
		<result column="unbind_at" property="unbindAt" />
		<result column="updated_at" property="updatedAt"/>
		<result column="is_valid" property="isValid" />
		<result column="is_certification" property="isCertification" />
		<result column="auth_image_url" property="authImageUrl" />
		<result column="auth_time" property="authTime" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<association property="carInfo" javaType="com.yxytech.parkingcloud.core.entity.CustomerCars">
			<result column="plate_number" property="plateNumber" />
			<result column="plate_color" property="plateColor" />
			<result column="car_type" property="carType" />
		</association>
	</resultMap>

    <update id="updateOtherBindRelation">
		UPDATE yxy_customer_bind_cars SET is_valid = FALSE WHERE car_id = #{carId}
	</update>

	<select id="getAllBindCars" resultMap="joinMap" resultType="com.yxytech.parkingcloud.core.entity.CustomerBindCars">
		SELECT * FROM yxy_customer_bind_cars
		LEFT JOIN yxy_customer_cars
		ON yxy_customer_bind_cars.car_id = yxy_customer_cars.id
		WHERE yxy_customer_bind_cars.user_id = #{userId}
	</select>

</mapper>
