<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxytech.parkingcloud.core.mapper.EtcInfoBakMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yxytech.parkingcloud.core.entity.EtcInfoBak">
		<result column="etc_number" property="etcNumber" />
		<result column="etc_net_id" property="etcNetId" />
		<result column="version" property="version" />
	</resultMap>

</mapper>
