<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxytech.parkingcloud.core.mapper.EtcVersionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yxytech.parkingcloud.core.entity.EtcVersion">
		<id column="id" property="id" />
		<result column="received_at" property="receivedAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="is_valid" property="isValid" />
		<result column="started_at" property="startedAt" />
		<result column="version" property="version" />
		<result column="table_name" property="tableName" />
	</resultMap>

	<select id="getMaxVersion" resultType="java.lang.Integer">
		SELECT MAX(version) from yxy_etc_version WHERE is_valid is TRUE AND started_at is NOT NULL;
	</select>

	<select id="getValidTableName" resultType="java.lang.String">
		SELECT table_name from yxy_etc_version WHERE is_valid is TRUE AND started_at is not NULL
		ORDER BY version, started_at DESC limit 1;
	</select>

    <select id="getAllByVersion" resultMap="BaseResultMap" parameterType="String">
		SELECT id, received_at, updated_at, is_valid, started_at, version FROM yxy_etc_version
		WHERE started_at IS NOT NULL
		AND is_valid IS TRUE AND version IN (
			SELECT etc_version FROM yxy_etc_history WHERE etc_number = #{etcNumber}
		)
	</select>

</mapper>
