<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxytech.parkingcloud.core.mapper.FeeFestivalItemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yxytech.parkingcloud.core.entity.FeeFestivalItem">
		<id column="id" property="id" />
		<result column="festival_id" property="festivalId" />
		<result column="date_time" property="dateTime" />
	</resultMap>

</mapper>
