<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxytech.parkingcloud.core.mapper.PermissionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yxytech.parkingcloud.core.entity.Permission">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="module_id" property="moduleId" />
		<result column="module_id" property="moduleId" />
		<result column="status" property="status" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

	<select id="getAllPermissionCodesByUser" resultType="string">
		SELECT code FROM yxy_permission JOIN yxy_role_permission ON yxy_permission.id = yxy_role_permission.permission_id
		JOIN yxy_user_role ON yxy_role_permission.role_id = yxy_user_role.role_id
		JOIN yxy_user ON yxy_user_role.user_id = yxy_user.id
		WHERE yxy_user.id = #{userId}
	</select>
</mapper>
