<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxytech.parkingcloud.core.mapper.PsamMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yxytech.parkingcloud.core.entity.Psam">
		<id column="id" property="id" />
		<result column="psam_card_number" property="psamCardNumber" />
		<result column="psam_type" property="psamType" />
		<result column="put_in_at" property="putInAt" />
		<result column="put_out_at" property="putOutAt" />
		<result column="startusing_at" property="startusingAt" />
		<result column="manage_org_id" property="manageOrgId" />
		<result column="parking_id" property="parkingId" />
		<result column="manager" property="manager" />
		<result column="terminal_device_id" property="terminalDeviceId" />
		<result column="remarks" property="remarks" />
	</resultMap>

	<select id="selectByPage" resultType="com.yxytech.parkingcloud.core.entity.Psam">
		select ps.*,
		org1.full_name as manageOrgName,
		cha.system_number as terminalDeviceCode,
		p.full_name as parkingName
		from yxy_psam ps
		left join yxy_organzation org1 on ps.manage_org_id = org1.id
		left join yxy_charge_facility cha on ps.terminal_device_id = cha.id
		left join yxy_parking p on ps.parking_id = p.id
		<where>
			${ew.sqlSegment}
		</where>
		order by ps.id asc
	</select>
</mapper>
