<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxytech.parkingcloud.core.mapper.WechatPaymentSettingMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yxytech.parkingcloud.core.entity.WechatPaymentSetting">
		<id column="id" property="id" />
		<result column="parking_id" property="parkingId" />
		<result column="app_id" property="appId" />
		<result column="mch_id" property="mchId" />
		<result column="api_key" property="apiKey" />
		<result column="created_at" property="createdAt" />
		<result column="created_by" property="createdBy" />
		<result column="updated_at" property="updatedAt" />
		<result column="updated_by" property="updatedBy" />
	</resultMap>

</mapper>
